@model MessageContainerViewModel

<div 
     class="tab-pane fade @(Model.IsFirstUser ? "show active" : "")" 
     id="v-pills-@Model.Receiver.Id" role="tabpanel"
     aria-labelledby="v-pills-@Model.Receiver.Id-tab">

    <div class="chat-container__message-container message-container" id="messageContainer">
        @Html.Partial("_Messages")
    </div>
</div>

