@model ChatMessage

<p class="chat-message">
    @Model.Message

    @if (Model.MessageStatus == MessageStatus.Sent)
    {
        <i class="chat-message__icon fas fa-check ml-1"></i>
    }
    else if (Model.MessageStatus == MessageStatus.Received)
    {
        <i class="chat-message__icon fas fa-check-double ml-1"></i>
    }
    else if (Model.MessageStatus == MessageStatus.Read)
    {
        <i class="chat-message__icon fas fa-check-double ml-1 text-primary"></i>
    }
    else
    {
        <i class="chat-message__icon far fa-clock"></i>
    }
</p>
